<!doctype html>
        <html>
        <head>
            <meta charset="UTF-8">
            <title>Wallet</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
           
        </head>
        <body class="container">
            <form action="/topic/create_process" method="post">
                <h4 class="display-4">Create wallet</h4><br/>
                <div class = "form-group">
                    <label for="id1">id</label>
                    <input type="text" class="form-control" name="id" id="id" placeholder="id를 입력하세요"><br/>
                    <label for="password1">password</label>
                    <input type="password" class="form-control" name= "password" id="password" placeholder="password를 입력하세요"><br/>
                </div>
                <button type="submit" class="btn btn-outline-info">생성</button>
                <button type="button" class="btn btn-outline-dark" onclick="location.href='/'">취소</button>
            </form>`
        </body>
        </html>