<!doctype html>
<html>

<head>
    <% include navi/head %>
</head>

<body>
    <% include navi/header %>
    <div class="container" >
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenubutton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Rosten
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" name="main">이더리움 메인넷</a>
            <a class="dropdown-item" href="#" name="ropsten">Ropsten 테스트넷</a>
            <a class="dropdown-item" href="#" name="kovan">Kovan 테스트넷</a>
            <a class="dropdown-item" href="#" name="rinkeby">Rinkeby 테스트넷</a>
            <a class="dropdown-item" href="#" name="local">로컬호스트 8545</a>
        </div>
    </div>

    <!--계정확인-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        style="width:44%;">
        <div class="text-center">

            <table class="table table-bordered">
                <tr>
                    <th scope="col"><%- userid %></th>
                </tr>
                <tr>
                    <th scope="row"><%- public_key %></th>
                </tr>
            </table>
        </div>
    </div>

    <!--입금 전송-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="width:64%;">
        <form>
            <div class="text-center">
                <img src="/public/images/bono.png" alt="" style="width: 100px;"><br /><br />
                <h3> <%- balance %> Ether </h3>
                </p>
                <button type="button" class="btn btn-outline-info">입금(추후예정)</button>
                <button type="button" class="btn btn-outline-info" onclick="location.href='/topic/send'">전송</button>
                <button type="button" class="btn btn-outline-info" id="logout" name="logout"
                    onclick="location.href='/topic/session_destroy'">로그아웃</button>
                <button type="button" class="btn btn-outline-info" onclick="location.href='/topic/privatekey'">개인키
                    가져오기</button>
            </div>
        </form>
    </div>

    <!--히스토리-->
    <div>
        <div class="form-group" style="width:50%;">
            <h6><label for="exampleInputEmail1">History</label></h6><br>
            <%- TxHashList %>
        </div>
    </div>

</div>
</body>

</html>