<!doctype html>
<html>

<head>
    <% include navi/head %>
</head>

<body>
    <% include navi/header %>
    <div class="container">
        <div class="dropdown">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Wallet Info</h1>
            </div>

            <form action="/topic/send_process" method="post">
                <div class="form-group">
                    <label for="privatekey">To</label>
                    <input type="text" class="form-control" id="toAddress" name="toAddress" placeholder="받는 계정"><br />

                    <label for="privatekey">Gas Price</label>
                    <input type="text" class="form-control" id="gasPrice" name="gasPrice" placeholder="가스비"><br />

                    <label for="privatekey">Value</label>
                    <input type="text" class="form-control" id="value" name="value" placeholder="전송량"><br />
                </div>
                <button type="submit" class="btn btn-outline-info">전송</button>
                <button type="button" class="btn btn-outline-dark" onclick="location.href='/topic/main'">취소</button>
            </form>
        </div>
    </div>
</body>

</html>