<div class="container">
    <nav class="navbar navbar-light rounded" style="background-color: #e3f2fd;">
        <h5><a class="navbar-brand" href="#"><%= title %></a></h5>
        <br />
        <a class="navbar-brand" href="#">EtherWallet</a>
    </nav>
</div><br/>